<section class="py-0">
  <div class="container">
    <!-- Card START -->
    <div class="card bg-light overflow-hidden px-sm-5">
      <div class="row align-items-center g-4">
        <!-- Content -->
        <div class="col-sm-9">
          <div class="card-body">
            <!-- Breadcrumb -->

            <!-- Title -->
            <h1 class="m-0 h2 card-title my-3">Details du categorie</h1>

            <ol>
              <li class="mb-3">
                <h6>numéro du catégorie c'est :{{ Category.idCategorie }}</h6>
              </li>
              <li>
                <h6>la catégorie est intitulé : {{ Category.name }}</h6>
              </li>
            </ol>
          </div>
        </div>

        <!-- Image -->
        <div class="col-sm-3 text-end d-none d-sm-block">
          <img src="assets/images/element/17.svg" class="mb-n4" alt="" />
        </div>
      </div>
    </div>
    <!-- Card END -->
  </div>
</section>
